h1{
  text-align: center;
  /*font-family: "Times New Roman", Times, serif;*/
  font-family: 'Helvetica Neue', sans-serif;

  font-weight: bold;
  letter-spacing: -1px;
  font-size: 125px;
  z-index: 1;
}

h2{
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 65px;

}

h3{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 54px;
  text-align: center;

}

h3:hover {
  img: url("img/selfy2.jpg");
  color: white;
}

.panel {
  background-color: #d6d6ff;

}
.panel-title {
  color: black;
  font-size: 40px;
}

a:link {
color: black;
text-decoration: none;
  }      /* unvisited link */

a:visited {
color: black;
text-decoration: none;}   /* visited link */

a:hover {
color: black;
text-decoration: none;}     /* mouse over link */

a:active {
color: black;
text-decoration: none;}    /* selected link */

strong {
  font-size: 200px;
}

#door {
  margin: auto;
  margin-top: 8%;
  display: block;
  padding: none;
  width: 20%;

}

#door:hover {
  border-radius: 50%;
  border-width: 5px;
  border-color: gold;
  border-style: solid;
}

li {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

p {
  margin-left: 10%;
}

#back {
  margin-bottom: 20px;
  margin-left: 20px;
  text-decoration: underline;
}

body {
  background-color: #ccccff;
}
/*
body {
  background: url(img/launch.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #d9d9d9
;
}*/

img.photo1 {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-width: 5px;
  border-color: gold;
  border-style: solid;
  padding: none;
  width: 69%;
  /*width: 360px;
  height: 240px;*/
  border-radius: 50%
}

img.photo2 {
  display: none;
  margin: auto;
  margin-top: 20px;
  border-width: 5px;
  border-color: gold;
  border-style: solid;
  padding: none;
  width: 69%;
  /*width: 360px;
  height: 240px;*/
  border-radius: 50%
}

img.photo3 {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-width: 5px;
  border-color: gold;
  border-style: solid;
  padding: none;
  width: 69%;
  /*width: 360px;
  height: 240px;*/
  border-radius: 50%
}

img.photo4 {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-width: 5px;
  border-color: gold;
  border-style: solid;
  padding: none;
  width: 69%;
  /*width: 360px;
  height: 240px;*/
  border-radius: 50%
}

img.launch {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.launch {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
